# This is your .env file
# The data added here will be propagated to the client
# example:
# PORT=8080

[ENVIRONMENT]
ENVIRONMENT = local
PORT = 3033

[SERVER]
API_URL = https://pruebas.livstre.com/api
VITE_API_URL = https://pruebas.livstre.com/api

[SUPABASE]
SUPABASE_URL = https://pnnrsqocukixusmzrlhy.supabase.co
SUPABASE_ANON_KEY = TU_SUPABASE_ANON_KEY
SUPABASE_SERVICE_ROLE_KEY = OPCIONAL_PARA_LOGIN_LOCAL_POR_IDENTIFICACION

[OPTIONS]
EMAIL_MULTIACCOUNT = false
CHANGE_USERS_PASSWORD = false

[SOCKET]
NOTIFICATION_BUTTON = false
SOCKET_KEY = GECKODE_THRESHOLD
SOCKET_HOST = pruebas.livstre.com
SOCKET_PORT = 6001

[FIREBASE]
FCM_APIKEY = 
FCM_AUTHDOMAIN = 
FCM_PROJECTID = 
FCM_STORAGEBUCKET = 
FCM_MESSAGINGSENDERID = 
FCM_APPID = 
FCM_MEASUREMENTID = 

[MERCADOPAGO]
MP_KEY = 

[FRONTEND]
DASHBOARD_APP_URL = /dashboard-app/
