# This is your .env file
# The data added here will be propagated to the client
# example:
# PORT=8080

[ENVIRONMENT]
ENVIRONMENT = test
PORT = 3032

[SERVER]
API_URL = http://localhost:8000

[OPTIONS]
EMAIL_MULTIACCOUNT = false
CHANGE_USERS_PASSWORD = false

[SOCKET]
NOTIFICATION_BUTTON = false
SOCKET_KEY = GECKODE_THRESHOLD
SOCKET_HOST = localhost
SOCKET_PORT = 6001

[FIREBASE]
FCM_APIKEY = 
FCM_AUTHDOMAIN = 
FCM_PROJECTID = 
FCM_STORAGEBUCKET = 
FCM_MESSAGINGSENDERID = 
FCM_APPID = 
FCM_MEASUREMENTID = 

[MERCADOPAGO]
MP_KEY = 

[FRONTEND]
DASHBOARD_APP_URL = /dashboard-app/
