/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/uploads/*.*
/public/storage
/public/images/**/*.*
/public/uploads/**/*.*
/public/attachment/**/*.*
public/screenshots/*.*
/public/tmp/**/*.*
!/public/images/**/.gitkeep
!/public/attachment/**/.gitkeep
!/public/tmp/**/.gitkeep
!/public/uploads/**/.gitkeep
/public/web.config
/storage/*.key
/vendor
.env
.env.backup
.env.production
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
.rnd
!.gitkeep
web.config
public/web.config
screenshots/
